<div class="footer">
    <div class="container">
        <div class="ft-flex-wrap">
            <div class="ft-le">
                <div class="ft-logo">
                    (주)성문네트워크
                </div>

                <div class="ft-information">
                    <ul>
                        <li>대표 : 성경배</li>
                        <li>사업자명 : ㈜ 성문네트웍스</li>
                        <li>사업자번호 : 232-86-01518</li>
                        <li>전화번호 추가 : 02-2088-7587</li>
                        <li>본점소재지 : 서울특별시 도봉구 도당로 111, 2층 (방학동, 우정빌딩)</li>
                        
                    </ul>
                </div>

                <div class="ft-btn-wrap">
                    <a href="">개인정보취급방침</a>
                    <a href="">이용약관</a>
                </div>

                <p class="copyright">Copyright © 2025 하나캐피탈 x RENTBOX ALL RIGHTS RESERVED.</p>
            </div>
            <div class="ft-ri">
                <div class="precautions">
                    <p>안내 유의사항</p>
                    <ul>
                        <li>렌터카 계약을 체결하기 전 상품설명서와 약관을 확인하시기 바랍니다.</li>
                        <li>일정기간 렌트료를 연체할 경우 모든 렌탈료(원리금)를 변제할 의무가 발생할 수 있습니다. *연체이자 : 연12%</li>
                        <li>렌터카 취급이 부적절한 경우 (연체금 보유, 개인신용평점 낮음) 취급이 제한될 수 있습니다.</li>
                        <li>신청자의 성명 및 휴대폰 번호 오기입으로 인한 피해는 금융사/제휴사가 책임지지 않습니다.</li>
                    </ul>
                </div>
                <!-- <div class="precautions">
                    <p>하나캐피탈(주) 렌터카 업무위탁 계약법인 - 주식회사 성문네트워크</p>
                    <ul>
                        <li>위 법인은 하나캐피탈(주)와 렌터카 업무위탁 계약을 체결한 모집법인이며, 고객 상담 업무 및 회신 업무를 수행합니다.</li>
                        <li>위 법인은 하나캐피탈(주) 렌터카 상품에 대한 계약 체결 권한이 없습니다.</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>