<div class="header">
    <a href="" class="logo">
        <img src="/asset/images/logo.png" alt="">
    </a>

    <div class="hd-nav">
        <ul>
            <li><a href="">하나 캐피탈 인기 차량 추천</a></li>
            <li><a href="">즉출특가 BEST</a></li>
            <li><a href="">상품 안내</a></li>
            <li><a href="">계약 절차</a></li>
        </ul>
    </div>

    <button class="consultation-btn pc-btn"><i class="xi-message"></i>빠른상담</button>

    <div class="mb-btn-nav">
        <button><i class="xi-message"></i></button>
    </div>
</div>
