.body { padding-top: 80px; }

.btn-type1 { padding: 0 24px; border-radius: 22px; height: 36px; font-size: 16px; font-weight: 600; display: inline-flex; justify-content: center; align-items: center; gap: 8px; transition: all 0.3s; }
.btn-type1 img { width: 24px; }
.btn-type1.green { color: #fff; background-color: #008e71; }
.btn-type1.green:hover { color: #008e71; background-color: #fff; border: 1px solid #008e71; }
.btn-type1.bd-green { color: #008e71; border: 1px solid #008e71; }
.btn-type1.bd-gray { color: #202020; border: solid 1px rgba(0, 0, 0, 0.2); }
.btn-type1.kakao { color: #371c1d; background-color: #f8e049; }
@media screen and (max-width: 1280px) {
    .btn-type1 { font-size: 12px; padding: 0 16px; height: 32px; }
}


.ck-box-list-type1 { display: flex; gap: 40px; }
.checked-item-type1 { display: flex; gap: 8px; font-size: 14px; }
.checked-item-type1 i { color: #d9d9d9; font-size: 16px; display: flex; justify-content: center; align-items: center; }
.checked-item-type1 p { display: flex; width: 100%; justify-content: space-between; font-size: 14px; font-weight: 500; flex-wrap: wrap; }
.checked-item-type1 a { text-decoration: underline; font-size: 12px; }
.form-checkbox:checked + .checked-item-type1 i { color: #008e71; }

@media screen and (max-width: 1024px) {
    .ck-box-list-type1 { gap: 20px; }
    .checked-item-type1 { font-size: 12px; }
}

/* 동의 */
.agreement-list-wrap { display: flex; width: 320px; flex-direction: column; gap: 12px; max-width: 100%; }
.agreement-list-wrap label { padding-right: 14px; display: flex; }
.agreement-list-wrap label i { font-size: 14px; color: #008E71; }
.agreement-list-wrap label input[type="checkbox"] + .xi-check-circle { display: none; }
.agreement-list-wrap label input[type="checkbox"]:checked + .xi-check-circle { display: inline-block; }
.agreement-list-wrap label input[type="checkbox"]:checked + .xi-check-circle + .xi-check-circle-o { display: none; }
.agreement-list-wrap .agreement-item { display: flex; justify-content: space-between }
.agreement-list-wrap .agreement-item-le { display: flex;  }
.agreement-list-wrap .agreement-item-le p { font-size: 13px; }
.agreement-list-wrap .agreement-item-le p span { color: #008E71; }
.agreement-list-wrap .detail-btn { width: 40px; height: 16px; border-radius: 2px; background: #000; font-size: 10px; font-weight: 500; color: #fff; }


/* 팝업 */
.modal-wrap { position: fixed; left: 0; right: 0; top: 0; bottom: 0;  width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: #00000033; z-index: 999;  }
.modal-wrap .modal-box { width: 800px; height: auto; max-width: calc(100% - 40px); max-height: calc(100% - 40px); background-color: #fff; border-radius: 16px; overflow: auto; }
.modal-wrap .modal-box .modal-title-wrap { display: flex; justify-content: space-between; padding: 0 20px; height: 80px; align-items: center; background-color: #f5f5f7; }
.modal-wrap .modal-box .modal-title-wrap .modal-title { font-size: 24px; display: flex; flex-wrap: wrap; align-items: baseline; gap: 4px; }
.modal-wrap .modal-box .modal-title-wrap .modal-title span { font-size: 12px; }
.modal-wrap .modal-box .modal-title-wrap i { font-size: 24px; cursor: pointer; }
.modal-wrap .modal-box .modal-content-wrap { padding: 20px; overflow: auto; max-height: calc(100vh - 40px - 80px); }
.modal-wrap.agreement-detail-modal .modal-box { width: 940px; }

/* 동의 팝업 내용 */
.modal-agreement-content h2 { margin-bottom: 4px; font-size: 14px; }
.modal-agreement-content p { font-size: 12px; margin-bottom: 32px; }

.agreement-table { border-collapse: collapse; width: 100%; margin-top: 20px; margin-bottom: 20px; }
.agreement-table th { border-bottom: 1px solid #000; padding: 16px; border-top: 2px solid #000; font-size: 14px; }
.agreement-table td { border-bottom: 1px solid #00000033; padding: 16px 8px; border-right: 1px solid #00000033; font-size: 12px; }
.agreement-table td:last-child { border-right: unset; }



/* 차 검색 */
.car-search-bar { max-width: 705px; margin: 0 auto; display: flex; border-radius: 60px; box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08); border: solid 1px #d6d6d6; background-color: #fff; padding: 8px; }
.car-search-bar > ul { display: flex; width: calc(100% - 48px); padding: 0 16px; align-items: center; }
.car-search-bar > ul > li { width: 100%; padding-left: 12px; position: relative; }
.car-search-bar > ul > li::after { width: 1px; height: 32px; position: absolute; right: 0; top: 50%; transform: translate(-50%,-50%); background-color: #d9d9d9; content: ''; }
.car-search-bar > ul > li:last-child::after { display: none; }
.car-search-bar > ul > li .label { font-size: 12px; font-weight: 600; margin-bottom: 3px; }
.car-search-bar > ul > li .content { opacity: 0.4; }
.car-search-bar .search-btn { width: 48px; height: 48px; border-radius: 60px; background-color: #008e71; }
.car-search-bar .search-btn i { font-size: 24px; color: #fff; }
@media screen and (max-width:768px) {
    .car-search-bar { border-radius: 8px; padding: 8px; }
    .car-search-bar > ul { flex-direction: column; gap: 16px; padding-left: unset; padding: 16px 8px 16px 0; }
    .car-search-bar > ul > li { padding: unset; }
    .car-search-bar > ul > li::after { display: none; }
}


.product-item-list-type1 { display: block; }
.product-item-list-type1 > ul { display: flex; flex-wrap: wrap; gap: 64px 24px; }
.product-item-list-type1 > ul > li { width: calc((100% - 48px) / 3); }
@media screen and (max-width: 1280px) {
    .product-item-list-type1 > ul { gap: 24px 0; }
    .product-item-list-type1 > ul > li { width: calc(100% / 2); }
}
@media screen and (max-width: 850px) {
    .product-item-list-type1 > ul > li { width: 100%; }
}
.product-item-type1 { position: relative; display: flex; flex-direction: column; align-items: center; }
.product-item-type1 .bg-wrap { max-width: 320px; display: flex; flex-direction: column; padding: 32px 0 24px; align-items: center; border-radius: 16px; background: #EFEFEF; }
.product-item-type1 .bg-wrap .txt-wrap { text-align: center; }
.product-item-type1 .bg-wrap .txt-wrap .top-wrap { margin-bottom: 16px; }
.product-item-type1 .bg-wrap .txt-wrap .title { font-weight: 600; }
.product-item-type1 .bg-wrap .txt-wrap .price { font-size: 18px; font-weight: 700; color: #D80C18; }
.product-item-type1 .bg-wrap .txt-wrap .sub-txt { margin-top: 4px; font-size: 13px; font-weight: 400; opacity: 0.5; }
.product-item-type1 .bg-wrap .txt-wrap .bt-wrap .sub-txt { margin-top: 8px; }
.product-item-type1 .bg-wrap .car-img { width: 137%; max-width: unset; margin-bottom: 16px; transition: transform 0.3s ease-in-out;  }
.product-item-type1 .bg-wrap .price-information { word-break: keep-all; opacity: 0.5; font-size: 13px; font-weight: 400; }
.product-item-type1 .agreement-list-wrap { padding: 16px 0; margin-bottom: 24px; border-bottom: 1px solid #EFEFEF; }
.product-item-type1:hover .bg-wrap .car-img { transform: scale(1.1); }








.banner-slide-type1 { position: relative; }
.banner-slide-type1 .banner-slide { border-radius: 24px; }
.banner-slide-type1 .swiper-slide { height: 480px; background-color: #008e71; position: relative; }
.banner-slide-type1 .swiper-slide .bg-img { z-index: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.banner-slide-type1 .swiper-slide .bg-img img { width: 100%; height: 100%; object-fit: cover; }
.banner-slide-type1 .swiper-slide .txt-wrap { position: relative; z-index: 1; width: 100%; height: 100%; padding-left: 80px; padding-top: 120px; }
.banner-slide-type1 .swiper-slide .txt-wrap .txt-top { font-size: 22px; font-weight: 600; color: #f8e049; margin-bottom: 24px; }
.banner-slide-type1 .swiper-slide .txt-wrap .txt-ct { font-size: 40px; font-weight: 500; letter-spacing: -1.6px; color: #fff; margin-bottom: 16px; }
.banner-slide-type1 .swiper-slide .txt-wrap .txt-bt { font-size: 64px; font-weight: bold; color: #fff; }
.banner-slide-type1 .swiper-btn-wrap { position: absolute; left: 80px; bottom: 90px; z-index: 1; display: flex; gap: 8px; }
.banner-slide-type1 .swiper-btn-wrap * { position: static; margin: unset;  }
.banner-slide-type1 .swiper-btn-wrap .button { color: #fff; width: 32px; height: 32px; background-color: rgba(0, 0, 0, 0.24); border-radius: 100%;  }
.banner-slide-type1 .swiper-btn-wrap .button::after { display: none; }
.banner-slide-type1 .swiper-btn-wrap .pagination-wrap { display: flex; align-items: center; border-radius: 16px; height: 32px; background-color: rgba(0, 0, 0, 0.24); }
.banner-slide-type1 .swiper-btn-wrap .pagination-wrap .swiper-pagination { padding-left: 12px; color: #fff; }
.banner-slide-type1 .swiper-btn-wrap .pagination-wrap .swiper-pagination span { color: #fff; }
.banner-slide-type1 .swiper-btn-wrap .pagination-wrap .swiper-pagination span.swiper-pagination-current { font-weight: bold; }
.banner-slide-type1 .swiper-btn-wrap .pagination-wrap .swiper-pagination span.swiper-pagination-total { opacity: 0.4; }
.banner-slide-type1 .swiper-btn-wrap .pagination-wrap button { min-width: 32px; height: 32px; color: #fff; font-size: 19px; }
@media screen and (max-width: 1280px) {
    .banner-slide-type1 .banner-slide { border-radius: 9px; }
    .banner-slide-type1 .swiper-slide { height: 360px;  }
    .banner-slide-type1 .swiper-slide .txt-wrap { padding: 40px; }
    .banner-slide-type1 .swiper-slide .txt-wrap .txt-top { font-size: 12px; margin-bottom: 12px; }
    .banner-slide-type1 .swiper-slide .txt-wrap .txt-ct { font-size: 16px; margin-bottom: 8px; }
    .banner-slide-type1 .swiper-slide .txt-wrap .txt-bt { font-size: 24px; }
    .banner-slide-type1 .swiper-btn-wrap { left: 20px; bottom: 20px; }
}


.section02 { overflow: hidden; }
.slide-type2 { position: relative; }
.slide-type2 .swiper { overflow: unset; }
.slide-type2 .banner-slide { position: relative; }
.slide-type2 .banner-slide::before,
.slide-type2 .banner-slide::after { position: absolute; top: 0; width: 16.67%; height: 100%; content: ''; z-index: 2; display: none; }
.slide-type2 .banner-slide::before { left: 0; background-image: linear-gradient(to right, #fff 1%, rgba(255, 255, 255, 0) 100%); }
.slide-type2 .banner-slide::after { right: 0; background-image: linear-gradient(to left, #fff 1%, rgba(255, 255, 255, 0) 100%); }
.slide-type2 .swiper-slide { width: calc(100% / 2); min-width: 320px; position: relative; display: flex; flex-direction: column; align-items: center; }
.slide-type2 .swiper-slide { opacity: 0.6; transition: all 0.3s; }
.slide-type2 .swiper-slide.swiper-slide-active { opacity: 1; }



.slide-type2 .swiper-slide::before { max-width: 100%; width: 320px; height: 468px; border-radius: 16px; background-color: #efefef; position: absolute; top: 0; left: 50%; transform: translateX(-50%); content: ''; z-index: -1; opacity: 0; }
.slide-type2 .swiper-slide .info-btn-wrap { max-width: 100%; width: 320px; padding: 16px 16px 0 0; display: flex; justify-content: flex-end; margin-bottom: 40px; }
.slide-type2 .swiper-slide .info-btn-wrap .info-btn { font-size: 20px; opacity: 0.4; }
.slide-type2 .swiper-slide .car-img { width: 640px; max-width: 100%; }
.slide-type2 .swiper-slide .car-img img { transition: transform 0.3s ease-in-out; }
.slide-type2 .swiper-slide .txt-wrap { padding-top: 32px; text-align: center; opacity: 0; }
.slide-type2 .swiper-slide .txt-wrap .top-wrap { margin-bottom: 16px; }
.slide-type2 .swiper-slide .txt-wrap .title { font-weight: 600; }
.slide-type2 .swiper-slide .txt-wrap .price { font-size: 18px; font-weight: 700; color: #D80C18; }
.slide-type2 .swiper-slide .txt-wrap .sub-txt { margin-top: 4px; font-size: 13px; font-weight: 400; opacity: 0.5; }
.slide-type2 .swiper-slide .price-information { word-break: keep-all; opacity: 0.5; font-size: 13px; font-weight: 400; margin-bottom: 40px; opacity: 0; }
.slide-type2 .swiper-slide .agreement-list-wrap { margin-bottom: 32px; opacity: 0; }
.slide-type2 .swiper-slide .btn-type1.green { opacity: 0; }
.slide-type2 .swiper-slide.swiper-slide-active::before { opacity: 1; }
.slide-type2 .swiper-slide.swiper-slide-active .txt-wrap { opacity: 1; }
.slide-type2 .swiper-slide.swiper-slide-active .price-information { opacity: 0.5; }
.slide-type2 .swiper-slide.swiper-slide-active .agreement-list-wrap { opacity: 1; }
.slide-type2 .swiper-slide.swiper-slide-active .btn-type1.green { opacity: 1; }

.slide-type2 .swiper-slide:hover .car-img img { transform: unset; }
.slide-type2 .swiper-slide.swiper-slide-active:hover .car-img img { transform: scale(1.1); }

@media screen and (max-width: 1280px) {
    .slide-type2 .swiper-slide .agreement-list-wrap { padding: 0 16px; }
}


.slide-type2 .swiper-scrollbar { width: 320px; position: static; margin: 48px auto 0; max-width: 100%; opacity: 1 !important; }
.slide-type2 .swiper-scrollbar .swiper-scrollbar-drag { background-color: #008e71; }
.slide-type2 .swiper-btn-wrap { position: static; margin-top: 24px; z-index: 1; display: flex; gap: 24px; justify-content: center; }
.slide-type2 .swiper-btn-wrap * { position: static; margin: unset;  }
.slide-type2 .swiper-btn-wrap .button { color: #000; width: 32px; height: 32px; background-color: #efefef; border-radius: 100%;  }
.slide-type2 .swiper-btn-wrap .button::after { display: none; }
.slide-type2 .swiper-btn-wrap .pagination-wrap { display: flex; align-items: center; border-radius: 16px; height: 32px; }
.slide-type2 .swiper-btn-wrap .pagination-wrap .swiper-pagination { color: #000; }
.slide-type2 .swiper-btn-wrap .pagination-wrap .swiper-pagination span { color: #008e71;  }
.slide-type2 .swiper-btn-wrap .pagination-wrap .swiper-pagination span.swiper-pagination-current { font-weight: bold; font-size: 18px; }
.slide-type2 .swiper-btn-wrap .pagination-wrap .swiper-pagination span.swiper-pagination-total { opacity: 0.4; color: #000; font-size: 12px; }
.slide-type2 .swiper-btn-wrap .pagination-wrap button { min-width: 32px; height: 32px; color: #fff; font-size: 19px; }
@media screen and (max-width: 1280px) {
    .slide-type2 .swiper-slide .txt-wrap { margin: unset; }
}

.main-section-title-wrap { text-align: center; margin-bottom: 48px; }
.main-section-title-wrap .title { font-size: 40px; font-weight: bold; margin-bottom: 16px; }
.main-section-title-wrap .sub-title { opacity: 0.7; }
@media screen and (max-width: 1280px) {
    .main-section-title-wrap { margin-bottom: 24px; }
    .main-section-title-wrap .title { font-size: 24px; margin-bottom: 12px; }
    .main-section-title-wrap .sub-title { font-size: 12px; }
}

.main-page .section01 { padding-top: 24px; padding-bottom: 32px; margin-bottom: 80px; border-bottom: 1px solid #d9d9d9; }
.main-page .section01 .car-search-bar-wrap { margin-bottom: 32px; }
@media screen and (max-width: 1280px) {
    .main-page .section01 .car-search-bar-wrap { margin-bottom: 20px; }
}

.main-page .section02 { padding-top: unset; padding-bottom: 148px; }
/* .main-page .section02 .slide-type2 { margin-bottom: 99px; } */
@media screen and (max-width: 1280px) {
    .main-page .section02 { padding-bottom: 80px; }
}

.mb-consultation-open-btn { display: none; }

.consultation-bar-fixed { position: fixed; bottom: 0; left: 0; right: 0; width: 100%; padding: 40px 0; background-color: #fff; z-index: 9; border-top: 1px solid #e9e9e9; transition: all 0.3s ease-in-out; }
.consultation-bar-fixed.indicate {  }

.blink-effect { box-shadow: 0 0 50px #008e71; }

.consultation-bar-fixed .close-btn { display: none; }
.consultation-bar-wrap { display: block; }
.consultation-bar-type1 { position: relative; }
.consultation-bar-type1 .consultation-bar-top { padding: 24px 40px; padding-right: 200px; border-radius: 16px; background-color: #efefef; width: 100%; display: flex; flex-wrap: wrap; gap: 20px 0; }
.consultation-bar-type1 .consultation-bar-top .phone-number-wrap { display: block; width: 200px; }
.consultation-bar-type1 .consultation-bar-top .phone-number-wrap .phone-number { font-size: 24px; font-weight: bold; margin-bottom: 4px; }
.consultation-bar-type1 .consultation-bar-top .phone-number-wrap .date { font-size: 12px; }
.consultation-bar-type1 .consultation-bar-top .input-list { display: flex; gap: 24px; padding-right: 32px; max-width: 100%; flex-wrap: wrap; }
.consultation-bar-type1 .consultation-bar-top .input-list .input-box { display: block; border-bottom: 2px solid #00000033; }
.consultation-bar-type1 .consultation-bar-top .input-list .input-box .label { margin-bottom: 8px; font-size: 12px }
.consultation-bar-type1 .consultation-bar-top .input-list .input-box input { padding-bottom: 12px; font-size: 16px; font-weight: normal; }
.consultation-bar-type1 .consultation-bar-top .input-list .input-box input::placeholder { opacity: 0.4; }
.consultation-bar-type1 .consultation-bar-top .checkbox-list { display: block; width: 287px; }
.consultation-bar-type1 .consultation-bar-top .checkbox-list label:first-child { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px dashed #00000033; display: block; }
.consultation-bar-type1 .consultation-bar-bt { padding-top: 14px; padding-right: 200px; }
.consultation-bar-type1 .consultation-bar-bt .btn-wrap { display: flex; justify-content: flex-end; gap: 12px; }
.consultation-bar-type1 .consultation-bar-bt .btn-wrap .btn-type1 { padding-left: 16px; padding-right: 16px; }
.consultation-bar-type1 .consultation-btn { width: 131px; height: 128px; display: flex; justify-content: center; align-items: center; border-radius: 8px; background-color: #008e71; color: #fff; font-size: 16px; font-weight: 600; position: absolute; right: 30px; top: 24px; transition: all 0.3s; }
.consultation-bar-type1 .consultation-btn:hover { background-color: #fff; color: #008e71; border: 1px solid #008e71; }

@media screen and (max-width: 1480px) {
    .consultation-bar-type1 .consultation-bar-bt .btn-wrap { justify-content: flex-start; }
}
@media screen and (max-width: 1280px) {
    .mb-consultation-open-btn { display: unset; position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 8; }
    .consultation-bar-fixed { display: none; padding: 40px 0 16px; }
    .consultation-bar-fixed.open { display: unset; }
    .consultation-bar-fixed .close-btn { display: unset; position: absolute; right: 12px; top: 12px; }
    .consultation-bar-fixed .close-btn i { font-size: 18px; }

    .consultation-bar-type1 .consultation-bar-top { padding: 20px; flex-direction: column; border-radius: 8px; }
    .consultation-bar-type1 .consultation-bar-top .checkbox-list { width: 100%; }
    .consultation-bar-type1 .consultation-bar-top .input-list { flex-direction: column; }
    .consultation-bar-type1 .consultation-btn { position: static; width: 100%; height: 32px; font-size: 14px; }
    .consultation-bar-type1 .consultation-bar-bt { width: 100%; padding: unset; padding-top: 20px; }
    .consultation-bar-type1 .consultation-bar-bt .btn-wrap { gap: 8px; flex-wrap: wrap; }
}


.main-page .section03 { padding-bottom: 149px; }
@media screen and (max-width: 1280px) {
    .main-page .section03 { padding-bottom: 80px; }
}



.main-page .section04 { padding-bottom: 120px; }
.main-page .section04 .guide-list { display: flex; gap: 24px; }
.main-page .section04 .guide-list .guide-item { width: 100%; padding: 32px 40px 40px; border-radius: 24px; background-color: #008e71; position: relative; overflow: hidden; }
.main-page .section04 .guide-list .guide-item .title-wrap { display: flex; align-items: flex-start }
.main-page .section04 .guide-list .guide-item .title-wrap img { width: 48px; height: auto; }
.main-page .section04 .guide-list .guide-item .title-wrap p { padding-left: 20px; font-size: 32px; font-weight: bold; color: #fff; }
.main-page .section04 .guide-list .guide-item .txt { font-size: 16px; line-height: 1.4; color: #fff; padding-left: 68px; }
.main-page .section04 .guide-list .guide-item .bg-icon { width: auto; position: absolute; top: 61px; right: 24px; }
.main-page .section04 .main-points-list { background-color: #efefef; padding-bottom: 32px; padding-top: 79px; margin-top: -47px; }
.main-page .section04 .main-points-list .main-points-title { font-size: 20px; font-weight: bold; margin-bottom: 16px; }
.main-page .section04 .main-points-list .flex-wrap { display: flex; gap: 80px; }
.main-page .section04 .main-points-list .flex-wrap ul { display: block; }
.main-page .section04 .main-points-list .flex-wrap li { font-size: 13px; line-height: 1.6; list-style-type: disc; list-style-position: inside; }
@media screen and (max-width: 1280px) {
    .main-page .section04 { padding-bottom: 80px; }
    .main-page .section04 .guide-list { gap: 8px; }
    .main-page .section04 .guide-list .guide-item { padding: 16px; border-radius: 8px; }
    .main-page .section04 .guide-list .guide-item .title-wrap img { width: 32px; }
    .main-page .section04 .guide-list .guide-item .title-wrap p { font-size: 16px; padding-left: 16px; }
    .main-page .section04 .guide-list .guide-item .txt { font-size: 12px; padding-left: 48px; }
    .main-page .section04 .main-points-list { margin-top: -60px; }
    .main-page .section04 .main-points-list .main-points-title { font-size: 14px; margin-bottom: 8px; }
    .main-page .section04 .main-points-list .flex-wrap { gap: unset; flex-direction: column; }
    .main-page .section04 .main-points-list .flex-wrap li { font-size: 12px; }
}
@media screen and (max-width: 960px) {
    .main-page .section04 .guide-list { flex-direction: column; }
}


.section05 { padding-bottom: 120px; }
@media screen and (max-width: 1280px) {
    .section05 { padding-bottom: 80px; }
}

.contract-process { display: flex; gap: 24px; }
.contract-process .step-item { padding: 66px 62px; border-radius: 24px; background-color: #efefef; width: 100%; position: relative; }
.contract-process .step-item:nth-child(2n) { background-color: #008e711e; }
.contract-process .step-item .step { font-size: 20px; font-weight: 600; color: #008e71; margin-bottom: 16px; }
.contract-process .step-item .txt-top { font-size: 32px; font-weight: bold; margin-bottom: 14px; word-break: keep-all; }
.contract-process .step-item .txt-bt { line-height: 1.4; }
.contract-process .step-item .icon-wrap { width: 100px; height: 100px; border: solid 16px #fff; background-color: #008e71; border-radius: 60px; position: absolute; left: calc(100% - 37px); top: calc(50% - 50px); z-index: 1; display: flex; justify-content: center; align-items: center; }
.contract-process .step-item .icon-wrap i { font-size: 48px; color: #fff; }
@media screen and (max-width: 1280px) {
    .contract-process { flex-direction: column; gap: 8px; }
    .contract-process .step-item { padding: 16px 20px; border-radius: 8px; }
    .contract-process .step-item .step { font-size: 14px; margin-bottom: 8px; }
    .contract-process .step-item .txt-top { font-size: 16px; margin-bottom: 8px; }
    .contract-process .step-item .txt-bt { font-size: 12px; }
    .contract-process .step-item .icon-wrap { transform: rotate(0.25turn); left: calc(50% - 20px); top: calc(100% - 15px); width: 40px; height: 40px; border: 6px solid #fff; }
    .contract-process .step-item .icon-wrap i { font-size: 24px; }
}

.section06 { padding-bottom: 120px; }
@media screen and (max-width: 1280px) {
    .section06 { padding-bottom: 80px; }
}
.faq-slide-group { display: flex; gap: 24px; height: 500px; }
.faq-slide-group > div { width: 100%; padding-bottom: 4px; }
.faq-slide-group .faq-thumb-slide .swiper-slide { min-height: 80px; height: fit-content; border-radius: 16px; background-color: #efefef; display: flex; padding: 30px 32px; align-items: center; cursor: pointer; }
.faq-slide-group .faq-thumb-slide .swiper-slide .num { font-size: 20px; font-weight: bold; color: #000; }
.faq-slide-group .faq-thumb-slide .swiper-slide .title { font-size: 20px; font-weight: bold; color: #000; padding-left: 16px; }
.faq-slide-group .faq-thumb-slide .swiper-slide.swiper-slide-thumb-active { background-color: #fff; border: solid 2px #008e71; }
.faq-slide-group .faq-thumb-slide .swiper-slide.swiper-slide-thumb-active .num { color: #008e71; }
.faq-slide-group .faq-thumb-slide .swiper-slide.swiper-slide-thumb-active .title { color: #008e71; }
.faq-slide-group .faq-slide { border-radius: 16px; background-color: #e0f1ee; overflow: hidden; }
.faq-slide-group .faq-slide .swiper-slide { padding: 40px 40px 92px; display: flex; flex-direction: column; }
.faq-slide-group .faq-slide .swiper-slide .title { font-size: 20px; font-weight: bold; color: #008e71; padding-bottom: 24px; min-height: fit-content; }
.faq-slide-group .faq-slide .swiper-slide .content { line-height: 1.6; max-height: 100%; display: block; overflow: auto; white-space: pre-line; word-break:keep-all }
.faq-slide-group .faq-slide .swiper-btn-wrap { position: absolute; margin-top: 24px; z-index: 1; display: flex; gap: 24px; justify-content: center; left: 40px; bottom: 40px; }
.faq-slide-group .faq-slide .swiper-btn-wrap * { position: static; margin: unset;  }
.faq-slide-group .faq-slide .swiper-btn-wrap .button { color: #000; width: 32px; height: 32px; background-color: #fff; border-radius: 100%;  }
.faq-slide-group .faq-slide .swiper-btn-wrap .button::after { display: none; }
.faq-slide-group .faq-slide .swiper-btn-wrap .pagination-wrap { display: flex; align-items: center; border-radius: 16px; height: 32px; }
.faq-slide-group .faq-slide .swiper-btn-wrap .pagination-wrap .swiper-pagination { color: #000; }
.faq-slide-group .faq-slide .swiper-btn-wrap .pagination-wrap .swiper-pagination span { color: #008e71;  }
.faq-slide-group .faq-slide .swiper-btn-wrap .pagination-wrap .swiper-pagination span.swiper-pagination-current { font-weight: bold; font-size: 18px; }
.faq-slide-group .faq-slide .swiper-btn-wrap .pagination-wrap .swiper-pagination span.swiper-pagination-total { opacity: 0.4; color: #000; font-size: 12px; }
.faq-slide-group .faq-slide .swiper-btn-wrap .pagination-wrap button { min-width: 32px; height: 32px; color: #fff; font-size: 19px; }

@media screen and (max-width: 1280px) {
    .faq-slide-group { height: auto; }
    .faq-slide-group .faq-thumb-slide { display: none; }
    .faq-slide-group .faq-slide { border-radius: 8px; }
    .faq-slide-group .faq-slide .swiper-slide { padding: 40px 20px 92px; }
    .faq-slide-group .faq-slide .swiper-slide .title { font-size: 14px; padding-bottom: 8px; }
    .faq-slide-group .faq-slide .swiper-slide .content { font-size: 12px; }
    .faq-slide-group .faq-slide .swiper-btn-wrap { left: 20px; }
}
